@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap");

.mont {
  font-family: "Montserrat", sans-serif;
}

#privacy p, #privacy dl, #privacy ul {
  font-size: 0.16rem;
  line-height: 1.9375;
  letter-spacing: 0.06em;
}
@media screen and (max-width: 768px) {
  #privacy p, #privacy dl, #privacy ul {
    font-size: 0.13rem;
  }
}
#privacy dl {
  margin: 0.3rem 0;
}
@media screen and (max-width: 768px) {
  #privacy dl {
    margin: 0.2rem 0;
  }
}
#privacy dl dt {
  font-weight: 700;
  color: #006ABB;
}
#privacy dl dd:not(:last-of-type) {
  margin-bottom: 0.3rem;
}
@media screen and (max-width: 768px) {
  #privacy dl dd:not(:last-of-type) {
    margin-bottom: 0.2rem;
  }
}