@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .nav-list-item-link {
        font-size: 12px;
        padding: 0 7px;
    }
}

@media screen and (max-width: 1024px) {
    .header__top-wrap {
        height: auto;
        text-align: center;
        padding: 20px 0;
    }

    .header__top-outer {
        display: inline-block;
    }

    .header-top__logo-outer {
        padding-bottom: 20px;
    }
    .nav-toggle-btn {
        display: flex;
    }

    .nav-toggle-btn-outer {
        display: flex;
    }

    .nav-list {
        flex-direction: column;
        height: auto;
    }

    .nav-items-wrapper {
        display: none;
        height: auto;
    }

    .mobile-menu-visible {
        overflow: hidden;
    }

    .fixed-header .nav-items-wrapper {
        height: calc(100vh - 68px);
        overflow-y: auto;
    }

    .nav-items-wrapper {
        height: calc(100vh - 240px);
        overflow-y: auto;
    }

    .dt-menu-expand {
        display: flex;
    }

    .nav-list-item-link:before {
        display: none;
    }

    .nav-list-item {
        width: 100%;
        display: block;
        padding: 3px 16px 20px;
        height: auto;
    }

    .nav-list-item.item-has-submenu:hover .submenu-list {
        visibility: inherit;
        opacity: inherit;
        transition: unset;
    }

    .submenu-list-item.item-has-sub-submenu .dt-menu-expand {
        color: #000;
    }

    .nav-list-item-link {
        height: auto;
        padding-bottom: 15px;
    }
    .header-bottom__social-outer {
        border-top: 1px solid #fff;
        padding: 20px 0;
        height: auto;
    }

    .header__social-list {
        justify-content: center;
        height: auto;
    }
    .header__social-list-item {
        height: auto;
        display: block;
    }
    .header__social-list-item-link {
        height: auto;
        display: block;
    }
    .fixed-header .nav-toggle-btn-outer {
        background: var(--primary);
    }

    .fixed-header .header__bottom-wrap .container {
        width: 100%;
        max-width: 100%;
        padding: 0 0px;
    }

    .fixed-header .header-bottom__social-outer {
        display: none;
    }

    .submenu-list {
        position: unset;
        visibility: visible;
        opacity: 1;
        width: 100%;
        display: none;
    }

    .submenu-list-item.item-has-sub-submenu:before {
        display: none;
    }

    .submenu-list-item.item-has-sub-submenu .submenu-list.sub {
        visibility: visible;
        opacity: 1;
        margin-top: 14px;
        transition: unset !important;
    }

    .nav-list-item.item-has-megamenu .megamenu-list {
        position: unset;
        visibility: visible;
        opacity: 1;
        width: 100%;
        transform: unset;
        display: none;
        padding: 0;
        border: 1px solid #9f9f9f;
    }

    .nav-list-item.item-has-megamenu:hover .megamenu-list {
        visibility: inherit;
        opacity: inherit;
        transition: unset;
    }

    .megamenu-list-item {
        width: 100%;
    }

    .megamenu-list-item {
        position: relative;
    }

    .megamenu-list-item .dt-menu-expand {
        color: #fff;
        z-index: 1;
    }

    .megamenu-list-item-tile:after {
        display: none;
    }

    .megamenu-list-item-tile {
        margin-bottom: 0;
        text-align: start;
        padding-left: 10px !important;
    }

    .megamenu-submenu-list {
        display: none;
    }

    .testimonial__items-wrapper {
        display: block;
    }

    .testimonial__left-outer {
        width: 100%;
        padding: 50px 0;
    }

    .testimonial__right-outer {
        width: 100%;
        padding: 60px 40px;
    }
    .faq__tab-outer .nav-tabs .nav-item .nav-link {
        font-size: 18px;
        padding: 10px 20px;
        border: none;
    }
}

@media screen and (max-width: 991px) {
    .business-tab__info-wrap {
        padding-right: 0;
        border-right: none;
        margin-bottom: 30px;
    }

    .business-tab__info-list-wrap {
        padding-left: 0;
    }
    .revers .business-tab__info-list-wrap {
        margin-bottom: 20px;
    }
    .revers .business-tab__info-wrap {
        border-left: none;
        padding-left: 0;
        margin-bottom: 0;
    }
    .revers .business-tab__info-img-outer {
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 30px;
    }
    .choose__section-title-outer {
        margin-bottom: 40px;
    }
    .news__recent-items-wrapper {
        margin-top: 30px;
    }

    .faq__item-wrap {
        display: block;
    }

    .faq__item-image-outer {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .faq__item-image {
        width: 100%;
    }
    .faq__item-wrap.revers .faq__item-image-outer {
        margin-left: 0;
        margin-top: 20px;
    }
    .faq__tab-outer .nav-tabs .nav-item .nav-link {
        font-size: 16px;
        padding: 8px 18px;
    }
    .first-header-left-content {
        align-items: flex-start;
    }
    .first-header-wraper {
        flex-direction: column;
    }
    .first-header-right-content {
        margin-top: 10px;
    }
    .our-track-item-wrap .row > div:not(:last-child) .our-track-item {
        border: none;
    }
    .our-track-item-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .our-track-item {
        margin-right: 0px;
    }
    .our-track-item {
        margin-top: 50px;
    }
    .office-contact-wraper {
        display: block;
    }
    .office-map-part {
        width: 100%;
    }
    .office-contact-part {
        width: 100%;
    }
    .office-map-part iframe {
        height: 350px;
    }
    .manager-personal-info {
        padding-bottom: 20px;
    }
    .office-contact-part {
        padding: 40px 20px;
    }
    .client-choose-us-title h3 {
        margin-top: 20px;
    }
    .company-info-item {
        margin: 35px 0px;
    }
}

@media screen and (max-width: 767px) {
    .business-tab-wrapper .nav-pills .nav-item {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .business-tab-wrapper .nav-pills {
        flex-direction: column;
        align-items: center;
    }
    .business-tab-wrapper .nav-pills .nav-item:last-child {
        margin-bottom: 0;
    }
    .business-tab__info-wrap {
        display: block;
        margin-bottom: 40px;
    }
    .business-tab__info-list-wrap .section__title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .business-tab__info-img-outer {
        padding-right: 0;
        margin-bottom: 30px;
    }
    .business-tab__info-outer .section__title {
        margin-bottom: 10px;
    }
    .contact-form__wrapper {
        position: unset;
    }
    .follow-us__items-wrapper {
        padding-top: 30px;
    }
    .faq__tab-outer .nav-tabs {
        text-align: center;
        flex-direction: column;
        align-items: center;
        border-top: none;
        border-bottom: none;
    }
    .faq__tab-outer .nav-tabs .nav-item {
        margin-bottom: 10px;
    }
    .banner__content-title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .banner__content-text {
        font-size: 14px;
    }

    .contact-info__title {
        font-size: 25px;
    }

    .contact-info__office-location {
        font-size: 20px;
    }

    .contact-info__outer .contact-info__title {
        font-size: 14px;
    }

    .contact-info__text {
        font-size: 12px;
    }

    .contact-form__top-title {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .contact-form__top-text {
        font-size: 12px;
    }

    .follow-us__item-title {
        font-size: 20px;
    }

    .testimonial__left-info-title {
        font-size: 30px;
    }

    .testimonial__left-info {
        font-size: 20px;
    }

    .tes__slider-item-info-auth-name {
        font-size: 16px;
    }

    .faq__title {
        font-size: 25px;
    }

    .faq__text {
        font-size: 14px;
    }

    .question__title {
        font-size: 25px;
    }

    .question__text {
        font-size: 14px;
    }

    .contact-form__top-wrap canvas {
        height: 300px;
    }

    .contact-form__top-outer {
        top: 50%;
    }
    .preloader span {
        font-size: 100px;
    }
    .mission-part-outer::after {
        left: 50%;
        right: unset;
        transform: translateX(-50%);
    }
    .expertise-part {
        padding: 50px 0px;
    }
    .practice-part {
        margin-top: 50px;
    }
    .achievement-section::after {
        background: none;
    }
    .guidance-img {
        margin-top: 25px;
    }
    .history-item {
        display: block;
        /* Other styles here */
    }
    .alaways-ahead-wrap {
        display: block;
    }
    .presentation-video-outer {
        width: 100%;
    }
    .alaways-ahead-part {
        width: 100%;
    }

    .family-trust-card {
        display: block;
        margin-top: 30px;
    }
    .catagory-blog-contact-section::after {
        background: none;
    }
    .blog-contact-inner-box {
        margin: 0px 0px 20px 0px;
    }
    .blog-contact-inner-box-wrap {
        align-items: initial;
    }
    .blog-contact-part {
        margin-top: 30px;
    }
    .manager-introduction {
        display: block;
        padding: 50px 0px 30px 0px;
    }
    .left-manager-info {
        margin-top: 20px;
        margin-left: 0px;
    }
    .right-manager-info {
        padding: 0px;
    }
    .right-manager-info {
        margin-left: 0px;
    }
    .right-manager-info h3 {
        font-weight: 600;
    }
    .manager-social-link {
        justify-content: flex-start;
        margin-top: 25px;
    }

    .manager-social-link a span {
        margin-right: 50px;
    }
    .book-free-wraper {
        display: block;
    }

    .book-free-left-box {
        width: 100%;
    }
    .book-free-right-box {
        width: 100%;
    }
    .faq-accordion-part .accordion-header .accordion-button {
        padding: 0px 10px;
        font-size: 15px;
    }
    .manager-introduction img {
        margin-right: 0px;
    }
    .left-manager-info h4 {
        font-size: 25px;
        line-height: 40px;
    }
    .office-contact-part {
        padding: 40px 0px;
    }
    .office-item {
        display: block;
    }
    .office-information-part-item {
        padding: 20px 0px;
    }
    .office-information-part-item-icon i {
        left: 10px;
    }
    .office-item:nth-child(even) .office-information-part-item-icon i {
        right: 10px;
    }
    .office-item:nth-child(even) .office-information-part-item-inner-text p {
        padding-right: 65px;
    }
    .office-item:nth-child(odd) .office-information-part-item-inner-text p {
        padding-left: 65px;
    }
    .office-information-part-item-inner-text p {
        padding: 0px 10px;
    }
    .recruitment-policy-img-wrap {
        margin-top: 30px;
    }
    .our-track-record-section {
        background-position: center;
    }
    .history-details-part {
   
        margin-left: 0px;
       
    }
    .history-item:nth-child(even) .history-left-img-part {
        margin-left: 0px;
    
    }
    .history-details-inner {
        padding: 20px 0px;
    }
    .our-voice-wraper {
        display: block;
    }
    .our-voice-left-part {
        width: 100%;
        padding: 60px 0px;
      
    }
    .our-voice-right-part {
        width: 100%;
    }
    .slider-wrap {
        display: block;
    }
    .slider-outer {
        width: 100%;
    }
    .mission-img img {
        margin-bottom: 20px;
    }
    .introducing-team-wraper {
        display: block;
    }
    .introducing-team-outer {
        width: 100%;
    }
    .introducing-team-outer:first-child {
        padding-right:0px;
    }
    .introducing-team-outer:last-child {
        padding-left: 0px;
    }
    .introducing-team-dtails-item {
        margin-top: 20px;
    }
    .team-details-progress-wraper {
        margin-top: 25px;
    }
    .breadcrumbs-left-content h1 {
        font-size: 18px;
    }
    .breadcrumbs-section-wraper {
        flex-direction: column;
    }
    .breadcrumbs-right-content {
        margin-top: 10px;
    }
}


@media screen and (max-width: 576px) {
    .header-top__info-outer {
        display: block;
    }

    .header-top__inner {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header-top__inner:last-child {
        margin-bottom: 0;
    }

    .header-top__info-text {
        font-size: 12px;
    }

    .header-top__info-text-outer {
        text-align: start;
    }

    .consulting__item-wrap {
        display: block;
    }

    .consulting__item-icon-outer {
        margin-bottom: 10px;
    }
    .footer__bottom-item-outer {
        display: block;
        text-align: center;
    }

    .footer__bottom-social-list {
        justify-content: center;
    }

    .footer__bottom-copyright-text {
        margin-bottom: 10px;
    }

    .footer__bottom-social-list-item {
        margin-right: 15px;
    }

    .section__title {
        font-size: 35px;
    }

    .consulting-section .section__text {
        font-size: 16px;
    }
    .business-tab__info-img-inner {
        width: 100%;
    }

    .intro__item-wrapper {
        display: block;
    }

    .intro__item-image-outer {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .intro__item-wrapper.revers .intro__item-image-outer {
        margin-bottom: 0;
        margin-left: 0;
        text-align: end;
        margin-top: 20px;
    }
    .question__info-wrap {
        display: inline-block;
        border: 2px solid #274584;
        border-radius: 60px;
    }

    .question-section {
        text-align: center;
    }

    .question__info-outer.left .question__info-text {
        border: none;
        border-radius: 50px 50px 0px 0px;
    }

    .question__info-outer.right .question__info-text {
        border: none;
        border-radius: 0px 0px 50px 50px;
        width: 100%;
    }

    .question__info-text {
        padding: 15px 30px 20px;
    }

    .question__info-wrap:before {
        width: 36px;
        height: 36px;
        line-height: 36px;
    }

    .home-bottom-info__title {
        font-size: 35px;
        margin-bottom: 25px;
    }
    .preloader span {
        font-size: 70px;
    }
   
    .practice-item {
        width: 100%;
    }

    .our-track-item-inner h3 {
        margin-top: 10px;
    }
    .job-applying-post .accordion-header .accordion-button {
        flex-direction: column;
        text-align: center;
    }
    .job-apply-btn {
        margin-top: 20px;
    }
    .practice-item-wraper {
        padding-left: 100px;
    }
    .section-title h3 {
        font-size: 35px;
    }
    .corporate-overview-item {
        display: block;
    }
    .corporate-location iframe {
        height: 400px;
    }
    .corporate-overview-right-content {
        margin-top: 15px;
    }
    .book-free-left-box-inner-item h3 {
        font-size: 35px;
        line-height: 45px;
    }
    .recruitment-tittle{
        font-size: 35px;
    }
    .mission-section-title h3 {
        font-size: 35px;
    }
    .trac-section-title h3 {
        font-size: 35px;
    }
    .achive-top-title h3 {
        font-size: 35px;
    }
    .client-choose-us-title h3 {
        font-size: 35px;
    }
    .history-title h3 {
        font-size: 35px;
        line-height: 40px;
    }
    .subscribe-inner-content h3 {
        font-size: 35px;

        margin-bottom: 25px;
    }
    .subscribe-inner-content p {
        color: #fff;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 25px;
        max-width: 500px;
        z-index: 999;
    }
    .subscribe-btn a {
        padding: 12px 20px;
    }
	.alaways-ahead-top-tittle h3 {
        font-size: 35px;
    }
	.alaways-ahead-top-tittle p {
		font-size: 18px;
		
	}
	.alaways-ahead-mid-tittle p {
		font-size: 18px;
	}
	.privacy-policy-item h3 {
		font-size: 30px;
	}
	.privacy-policy-item p {
		font-size: 18px;
		
	}
	.progress-mission-title h3 {
		font-size: 35px;
		
		line-height: 45px;
	
	}
    .history-right-top-item h3 {
        font-size: 35px;
        line-height: 40px;
        margin-top: 0px;
    }
    .history-details-year h3 {

        font-size: 50px;
    }
    .testimonial-title h3 {
        font-size: 35px;
        line-height: 40px;
        
    }
    .video-img-inner-content h3 {
        font-size: 35px;
    }
    .mission-value-title h3 {
        font-size: 35px;
        line-height: 40px;
        
    }
    .left-manager-info h3 {
        font-size: 35px;
    }
    .office-card-information h3 {
        font-size: 35px;
    }
    .banner-heading-title h3 {
        font-size: 45px;
       
    }
    .banner-nav-pills .nav-item .banner-tab-nav-link {
        font-size: 18px;
        
    }
    .banner-tab-title h3 {
        font-size: 25px;
        
    }
    .banner-tab-title p {
        font-size: 16px;
    
    }
    .subscribe-search-box input {
        padding: 16px 140px 16px 16px;
        
    }
    .left-manager-info p {
        font-size: 22px;
       
    }
    .introduction-title h3 {
        font-size: 35px;
    }
   
}

@media screen and (max-width: 475px) {
    .subscribe-search-box a {
        padding: 12px 10px;
    }
    .circel-progress-bar {
        justify-content: center;
        gap: 0px 30px;
    }
    .details-top-icon-item p {
        font-size: 16px;
    }
    .office-img-inner-content h3 {
        font-size: 30px;
    }
    .office-information-part-item-inner-text p {
        font-size: 16px;
        line-height: 25px;
    }
    .middle-item .office-information-part-item-inner-text p {
        font-size: 16px;
        line-height: 25px;
    }
    .section-title h3 {
        font-size: 30px;
    }
    .book-free-left-box-inner-item h3 {
        font-size: 30px;
        line-height: 45px;
    }
    .book-free-left-box-inner-item h3 {
        margin-bottom: 25px;
    }
    .joint-accounting-group-item p {
        font-size: 17px;
    }
    .recruitment-tittle{
        font-size: 30px;
    }
    .mission-section-title h3 {
        font-size: 30px;
    }
    .trac-section-title h3 {
        font-size: 30px;
    }
    .achive-top-title h3 {
        font-size: 30px;
    }
    .client-choose-us-title h3 {
        font-size: 30px;
    }
    .history-title h3 {
        font-size: 30px;
    }
    .section-title p {
        font-size: 18px;
    }
    .subscribe-inner-content h3 {
        font-size: 30px;
    }
    .subscribe-search-box input {
        padding: 16px 115px 16px 16px;
    }
    .alaways-ahead-top-tittle h3 {
        font-size: 30px;
    }
	
	.privacy-policy-item h3 {
		font-size: 25px;
	}
	.first-header-left-content span {
		margin-right: 5px;
	}
	.service-details-part h3 {
		font-size: 25px;
	}
	.progress-mission-title h3 {
		font-size: 30px;
		
	}
    .history-right-top-item h3 {
        font-size: 30px;
    }
    .history-right-top-item p {
        font-size: 18px;
    }
    .history-right-middle-item p {
        font-size: 18px;
    }
    .history-right-botttom-item p {
        font-size: 18px;
        margin-top: 45px;
    }
    .history-right-middle-item {
        margin-top: 45px;
    }
    .history-details-year h3 {

        font-size: 45px;
    }
    .testimonial-title h3 {
        font-size: 30px;
        
    }
    .video-img-inner-content h3 {
        font-size: 30px;
    }
    .mission-value-title h3 {
        font-size: 30px;
        
    }
    .work-together-part h3 {
        font-size: 30px;
        line-height: 40px;
        
    }
    .news-details-drecription h3 {
        font-size: 25px;
    }
    .office-card-information h3 {
        font-size: 30px;
    }
    .banner-heading-title h3 {
        font-size: 35px;
     
    }
    .left-manager-info h3 {
        font-size: 30px;
    }
    .introduction-title h3 {
        font-size: 30px;
    }
}
@media screen and (max-width: 400px) {
    .section__title {
        font-size: 30px;
    }

    .business-tab-wrapper .section__text {
        font-size: 14px;
    }

    .goal__section-title {
        font-size: 30px;
    }

    .goal__section-text {
        font-size: 14px;
    }

    .goal-sec-list-item {
        font-size: 14px;
    }

    .choose__section-title {
        font-size: 25px;
    }

    .choose__section-text {
        font-size: 14px;
    }

    .choose-sec-list-item {
        font-size: 14px;
    }
    .review__item-text-outer blockquote {
        padding: 20px;
    }

    .review__item-text-outer blockquote:after {
        display: none;
    }
    .preloader span {
        font-size: 50px;
    }
    /* .faq__tab-outer .nav-tabs .nav-item .nav-link.active:before {
        width: 40px;
        left: -40px;
    } */
    /* .faq__tab-outer .nav-tabs .nav-item .nav-link.active:after {
        width: 40px;
        right: -40px;
    } */
}
